.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
SQL-PHP Extension Guide.*
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
